.cache
.vscode
.idea
*.log
.env
/tt-perf*
test_hlk_args_init_gen
tt_build
tt_debug
build
net2pipe_output/
third_party/llvm

/llk_out/

/test_*
hlkc/hllkc_api.a

pipegen.yaml
device_desc.yaml
/clean
*coverage.txt
blobgen_cmd_log

.hlkc_cache
.pipegen_cache

python_api/env
python_api/*.so
python_api/test_run_on_device_out
pybuda/pybuda/*.so
__pycache__
pybuda/pybuda.egg-info/

*.vcd 

run-log.yaml
model_unit_tests
perf_tests_out

gui_dump.json
ops.csv

*netlist.yaml
pytest_ci_out
bp_data

third_party/llvm
device_images
generated_modules
build_deps/

# ClangD
compile_commands.json
\n\n# Exclude LFS files to keep the public repo small
third_party/budabackend/common_lib/libboost_filesystem.so.1.65.1
third_party/budabackend/common_lib/libboost_regex.so.1.65.1
third_party/budabackend/common_lib/libboost_system.so.1.65.1
third_party/budabackend/common_lib/libboost_thread.so.1.65.1
third_party/budabackend/common_lib/libicudata.so.60
third_party/budabackend/common_lib/libicui18n.so.60
third_party/budabackend/common_lib/libicuuc.so.60
third_party/budabackend/common_lib/libsqlite3.so.0
third_party/budabackend/common_lib/libz.so.1
third_party/budabackend/dbd/docs-md/images/debuda-buda.png
third_party/budabackend/dbd/docs-md/images/debuda-debuda-server.png
third_party/budabackend/dbd/docs-md/images/debuda-export-db.png
third_party/budabackend/dbd/docs-md/images/debuda-speed-dial.png
third_party/budabackend/dbd/docs-md/images/debuda-start-and-repl.png
third_party/budabackend/dbd/docs-md/images/debuda.png
third_party/budabackend/dbd/docs-md/images/tenstorrent-pdf-titlepage.png
third_party/budabackend/device/bin/silicon/grayskull/clkctl
third_party/budabackend/device/bin/silicon/grayskull/init
third_party/budabackend/device/bin/silicon/grayskull/pm_en.ttx
third_party/budabackend/device/bin/silicon/grayskull/setup_interface
third_party/budabackend/device/bin/silicon/grayskull/tt-script
third_party/budabackend/device/bin/silicon/reset-chip
third_party/budabackend/device/bin/silicon/tensix-reset
third_party/budabackend/device/bin/silicon/wormhole/boot
third_party/budabackend/device/bin/silicon/wormhole/create-ethernet-map
third_party/budabackend/device/bin/silicon/wormhole/flash-spi
third_party/budabackend/device/bin/silicon/wormhole/get-wormhole-interfaces
third_party/budabackend/device/bin/silicon/wormhole/imx8-reset
third_party/budabackend/device/bin/silicon/wormhole/load-eth-fw
third_party/budabackend/device/bin/silicon/wormhole/noc-overlay-dump
third_party/budabackend/device/bin/silicon/wormhole/setup-interface
third_party/budabackend/device/bin/silicon/wormhole/temp
third_party/budabackend/device/bin/silicon/wormhole/tt-flash
third_party/budabackend/device/bin/silicon/wormhole/tt-script
third_party/budabackend/docs/public/images/1.png
third_party/budabackend/docs/public/images/10.png
third_party/budabackend/docs/public/images/perf_ui_candlestick.png
third_party/budabackend/docs/public/images/11.png
third_party/budabackend/docs/public/images/perf_ui_wft.png
third_party/budabackend/docs/public/images/12.png
third_party/budabackend/docs/public/images/13.png
third_party/budabackend/docs/public/images/14.png
third_party/budabackend/docs/public/images/16.png
third_party/budabackend/docs/public/images/17.png
third_party/budabackend/docs/public/images/18.png
third_party/budabackend/docs/public/images/2.png
third_party/budabackend/docs/public/images/20.png
third_party/budabackend/docs/public/images/21.png
third_party/budabackend/docs/public/images/22.png
third_party/budabackend/docs/public/images/23.png
third_party/budabackend/docs/public/images/24.png
third_party/budabackend/docs/public/images/25.png
third_party/budabackend/docs/public/images/26.png
third_party/budabackend/docs/public/images/27.png
third_party/budabackend/docs/public/images/28.png
third_party/budabackend/docs/public/images/29.png
third_party/budabackend/docs/public/images/3.png
third_party/budabackend/docs/public/images/30.png
third_party/budabackend/docs/public/images/31.png
third_party/budabackend/docs/public/images/32.png
third_party/budabackend/docs/public/images/33.png
third_party/budabackend/docs/public/images/34.png
third_party/budabackend/docs/public/images/35.png
third_party/budabackend/docs/public/images/36.png
third_party/budabackend/docs/public/images/37.png
third_party/budabackend/docs/public/images/4.png
third_party/budabackend/docs/public/images/5.png
third_party/budabackend/docs/public/images/6.png
third_party/budabackend/docs/public/images/7.png
third_party/budabackend/docs/public/images/perf_ui_local_select.png
third_party/budabackend/docs/public/images/8.png
third_party/budabackend/docs/public/images/9.png
third_party/budabackend/docs/public/images/Screen_Shot_2023-05-24_at_11.56.12_PM.png
third_party/budabackend/docs/public/images/bfp-efficiency.png
third_party/budabackend/docs/public/images/bfp2_blocks.png
third_party/budabackend/docs/public/images/bfp4_blocks.png
third_party/budabackend/docs/public/images/bfp8_blocks.png
third_party/budabackend/docs/public/images/cropped-favicon-32x32.png
third_party/budabackend/docs/public/images/data-formats.png
third_party/budabackend/docs/public/images/logo.png
third_party/budabackend/docs/public/images/perf_ui_device.png
third_party/budabackend/docs/public/images/perf_ui_diff.png
third_party/budabackend/docs/public/images/perf_ui_front_page.png
third_party/budabackend/docs/public/images/perf_ui_host.png
third_party/budabackend/docs/public/images/perf_ui_inputs.png
third_party/budabackend/docs/public/images/perf_ui_select_test.png
third_party/budabackend/docs/public/images/perf_ui_select_workspace.png
third_party/budabackend/docs/public/images/tt_logo.png
third_party/budabackend/docs/public/images/tt_logo.svg
third_party/budabackend/docs/public/images/unpack_math_pack.png
third_party/budabackend/loader/tests/reference_tensor_conv_bin/expected_tensor_for_conv_bfp8_s2.bin
third_party/budabackend/loader/tests/reference_tensor_conv_bin/expected_tensor_for_conv_fp16b_s2.bin
third_party/budabackend/loader/tests/reference_tensor_conv_bin/expected_tensor_for_conv_fp32_s2.bin
third_party/budabackend/loader/tests/reference_tensor_conv_bin_mt/input_tensor_for_conv_fp16b.0.bin
third_party/budabackend/loader/tests/reference_tensor_conv_bin_mt/input_tensor_for_conv_fp16b_s1.0.bin
third_party/budabackend/loader/tests/reference_tensor_conv_bin_mt/input_tensor_for_conv_fp32.0.bin
third_party/budabackend/perf_lib/graph_tests/grayskull/inference/bert_large_hifi3_fp16b.yaml
third_party/budabackend/perf_lib/graph_tests/grayskull/inference/bert_large_lofi_bfp8b.yaml
third_party/budabackend/verif/graph_tests/netlists/pregenerated/group_1.zip
third_party/budabackend/verif/graph_tests/netlists/pregenerated/group_2.zip
third_party/budabackend/verif/graph_tests/netlists/pregenerated/group_3.zip
third_party/budabackend/verif/graph_tests/netlists/pregenerated/group_4.zip
third_party/budabackend/verif/graph_tests/netlists/pregenerated/group_5.zip
third_party/budabackend/verif/graph_tests/netlists/pregenerated/group_6.zip
third_party/budabackend/verif/graph_tests/netlists/pregenerated/group_7.zip
third_party/budabackend/verif/graph_tests/netlists/t5_large_wormhole_b0.yaml
third_party/budabackend/verif/graph_tests/netlists/wormhole_b0/netlist_bert_12x_encoder_1x_whb0_base_training.yaml
third_party/budabackend/verif/graph_tests/netlists/wormhole_b0/netlist_bert_24x_encoder_1x_whb0_large_training.yaml
third_party/budabackend/verif/multichip_tests/wh_multichip/large_cluster/falcon_60l_8chip.yaml
third_party/budabackend/verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_12chip_lab68.yaml
third_party/budabackend/verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_32chip_lab78.no_snakeplace.yaml
third_party/budabackend/verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_32chip_lab78.yaml
third_party/budabackend/verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_4chip_jb11.yaml
third_party/budabackend/verif/multichip_tests/wh_multichip/large_cluster/midbloom_inference_8chip_jb11.yaml
third_party/budabackend/verif/multichip_tests/wh_multichip/netlist_bert_concurrent_24x_encoder_2x_wh_large_inference.yaml
third_party/budabackend/verif/pipegen_tests/netlists/grayskull/nightly/baseline.zip
third_party/budabackend/verif/pipegen_tests/netlists/grayskull/push/baseline.zip
third_party/budabackend/verif/pipegen_tests/netlists/wormhole_b0/nightly/baseline.zip
third_party/budabackend/verif/pipegen_tests/netlists/wormhole_b0/push/baseline.zip
third_party/budabackend/verif/template_netlist/netlists/multi_tm_tests/weekly/wormhole_b0/test_dram_input_matmul_3tms_and_reblock.zip
third_party/budabackend/verif/template_netlist/netlists/test_datacopy_matmul_2tms_and_reblock_pregenerated.zip
third_party/budabackend/verif/template_netlist/netlists/test_datacopy_matmul_3tms_and_reblock_000_force_grayskull.zip
third_party/budabackend/verif/template_netlist/netlists/test_dram_input_matmul_3tms_and_reblock_grayskull.zip
third_party/budabackend/verif/tm_tests/directed/bert_large_inference_hifi.yaml
third_party/budabackend/verif/tm_tests/directed/packer_mcast.tar.gz
