import torch
import pybuda
{% if test_format %}
import pytest
from pybuda.verify import verify_module, VerifyConfig
{% endif %}
from pybuda import PyBudaModule, Tensor

{# TODO replace empty new lines with spaces to keep formatting in pipeline #}
class GeneratedTestModel_{{ test_index }}_{{ random_seed }}(PyBudaModule):
    # graph_builder: {{ graph_builder_name }}
    # id: {{ test_id }}
    # params.test_index: {{ test_index }}
    # params.random_seed: {{ random_seed}}

    def __init__(self, module_name: str = "Buda Test GeneratedTestModel_{{ test_id }}"):
        super(GeneratedTestModel_{{ test_index }}_{{ random_seed }}, self).__init__(module_name)
        self.testname = "Operator Test GeneratedTestModel_{{ test_id }}"
{% for node in graph.nodes %}{% if node.operator.is_layer() %}        
        self.{{ node.layer_name() }} = {{ build_layer(node) }}{% endif %}{% endfor %}

    def forward(self{% for node in graph.input_nodes %}, {{ node.out_value }}: pybuda.Tensor{% endfor %}) -> pybuda.Tensor:
        {% for node in graph.nodes %}

        inputs = [{% for input_node in node.inputs %}{{ input_node.out_value }}{% if not loop.last %}, {% endif %}{% endfor %}]{% if node.operator.is_layer() %}
        {{ node.out_value }} = self.{{ node.layer_name() }}(inputs[0]){% else %}
        {{ node.out_value }} = {% if node.operator.forward_code %}{{node.operator.forward_code()}}{% else %}{{ node.operator.full_name }}('{{ node.node_name() }}', {{ forward_args(node=node) }}{{ forward_kwargs(node=node) }}){% endif %}{% endif %}{% endfor %}

        return v
{% if test_format %}

# @pytest.mark.skip(reason="Skip this test for now.")
def test_gen_model_{{ test_index }}_{{ random_seed }}(test_device):
    
    input_shapes = [{% for input_node in graph.input_nodes %}{{ input_node.input_shape }}, {% endfor %}]
    model = GeneratedTestModel_{{ test_index }}_{{ random_seed }}("pytest_gen_model_{{ test_id }}")

    verify_module(model, input_shapes, VerifyConfig(devtype=test_device.devtype, arch=test_device.arch))

{% endif %}
